*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
width: 100vw;
height: 100vh;
overflow: hidden;
display: flex;
flex-direction: column;
}
.header{
    height: 10vh;
    color: white;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(5,36,38);
}
img[alt="img"]{
    width: 100px;
    height: 100px;
}
.slogan{
    margin-left: 30vw;
}
.header-admin{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(81,191,208);
    color: white;

}
.big-title{
    flex: 9;
    text-align: center;
    margin-top: 2vh;
    font-size: 20px;
}

.deconnexion{
    flex: 1;

}
input[value="Deconnexion"]{
    padding: 1vh;
    width: 8vw;
    margin-top: 3vh;
    background-color: rgb(57,221,214);
    border-color: rgb(57,221,214);
    color: white;
    font-size: 1rem;
}
.main{
    flex: 9;
    display: flex;
    flex-direction: row;
}
.taches-admin{
    margin-top: 5vh;
    flex:3;
    display: flex;
    flex-direction: column;

}
.avatar{
    flex:3;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(120deg,white 10%,rgb(93,195,210) 80%);
    color: white;
}
.admin-profile{
    flex: 6;
}
#profil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 2vw;
}
.admin-name{
    flex: 4;
    margin-top: 1vh;
    margin-right: 0.5vw;
}
label{
color: gray;
font-size: 1.3rem;
margin-left: 5vh;
}
.taches{
    flex: 7;
    margin-top: 5vh;
}
.liste-question{
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.img1{
    flex:1;
    height: 5vh;
    background-image: url(../img/ic-liste.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
}
label{
    flex:9;
}
.creer-admin{
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
a{
    flex: 9;
    text-decoration: none;
}
.img3{
    flex:1;
    height: 5vh;
    background-image: url(../img/ic-liste.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.liste-joueurs{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    
}
.img2{
    flex: 1;
    height: 5vh;
    background-image: url(../img/ic-ajout.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor:pointer;
}
.creer-questions{
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.img4{
    flex: 1;
    height: 5vh;
    background-image: url(../img/ic-ajout.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.contain-view{
    flex: 7;
    text-align: center;
    margin-top: 5vh;
}
.img5{
    flex:1;
    height: 5vh;
    background-image: url(../img/ic-liste-active.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;   
}
table{
    margin-left: 20vw;
    width: 30vw;
    border: solid rgb(81,191,208);
    margin-top: 5vh;
    border-radius: 20px;
}
tr{
    height: 5vh;
    font-size: 1.5rem;
    color: gray;

}
.listedesjoueurs{
    font-size: 2.3rem;
    color: rgb(112, 110, 110);
    font-style: italic;
}
.next-prev{
    display: flex;
    margin-top: 2vh;
    width: 30vw;
    margin-left: 20vw;
    justify-content: space-between;
}
button{
    height: 5vh;
    width: 7vw;
    margin-top: 1vh;
    background-color: rgb(81,191,208);
    border-color: rgb(81,191,208);
    font-size: 1em;
    color: white;
}
.previous{
    visibility: hidden;
}

