*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
width: 100vw;
height: 100vh;
background:linear-gradient(rgba(5,36,38,0.2),rgba(5,36,38,0.459)),url("../img/img-bg.jpg");
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
display: flex;
flex-direction: column;
}
.header{
    height: 10vh;
    color: white;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(5,36,38);
}
img[alt="img"]{
    width: 100px;
    height: 100px;
}
.slogan{
    margin-left: 30vw;
}
.acc-contain-main{
    margin: 1vh 2vw ;
    height: 90vh;
    background-color: rgb(242,242,242);
    border-radius: 10px;

}
.header-admin{
    flex: 1;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(81,191,208);
    color: white;

}
.big-title{
    flex: 9;
    font-size: 20px;
}

.deconnexion{
    flex: 1;

}
input[value="Deconnexion"]{
    padding: 1vh;
    width: 8vw;
    margin-right: 2vw;
    background-color: rgb(57,221,214);
    border-color: rgb(57,221,214);
    color: white;
    font-size: 1rem;
}
.acc-main{
    flex: 9;
    display: flex;
    flex-direction: row;
    height: 90%;
}
.taches-admin{
    flex:3;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-left: 1%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px white;
    background-color: white;
}
.avatar{
    flex:3;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(120deg,white 10%,rgb(93,195,210) 80%);
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.admin-profile{
    flex: 6;
}
#profil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 2vw;
}
.admin-name{
    flex: 4;
    margin-top: 1vh;
    margin-right: 0.5vw;
}
.m-link{
color: gray;
font-size: 1.3rem;
margin-left: 5vh;
list-style: none;
cursor: pointer;
}

.taches div:hover{
    background-color: rgb(248, 243, 240);
    display: flex;
    align-items: center;
}
.taches div li:hover{
    border-left: 5px solid green;
}
.taches{
    flex: 7;
    margin-top: 5vh;
}
.liste-question{
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.img1{
    flex:1;
    height: 5vh;
    background-image: url(../img/ic-liste.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.m-link{
    flex:9;
}
.creer-admin{
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
a{
    flex: 9;
    text-decoration: none;
}
.img3{
    flex:1;
    height: 5vh;
    background-image: url(../img/ic-liste.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.liste-joueurs{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    
}
.img2{
    flex: 1;
    height: 5vh;
    background-image: url(../img/ic-ajout.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor:pointer;
}
.creer-questions{
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.img4{
    flex: 1;
    height: 5vh;
    background-image: url(../img/ic-ajout.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.contain-view{
    flex: 7;
    text-align: center;
    background-color: white;
    height: 92%;
    margin: 2% 3%;
    border-radius: 15px;
}
.img5{
    flex:1;
    height: 5vh;
    background-image: url(../img/ic-liste-active.png);
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;   
}
table{
    margin-left: 5vw;
    width: 30vw;
    border: solid rgb(81,191,208);
    margin-top: 5vh;
    border-radius: 20px;
}
tr{
    height: 4vh;
    font-size: 1.5rem;
    color: gray;

}
.listedesjoueurs{
    font-size: 2.3rem;
    margin-top: 2Vh;
    color: rgb(142, 132, 117);
    font-style: italic;
}
.next-prev{
    display: flex;
    margin: auto;
    width: 30vw;
    justify-content: space-between;
}
.acc-butt-prev-next{
    height: 5vh;
    width: 7vw;
    margin-top: 2vh;
    border-radius: 10px;
    background-color: rgb(57,221,214);
    border: none;
    font-size: 1em;
    color: white;

    }
.previous{
    visibility: hidden;
}
.player-list{
    width: 40vw;
}
