*{
    box-sizing: border-box;
    padding: 0;
}

body{
    width:99vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    height: 10vh;
    color: white;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(5,36,38);
}
.logo{
    width: 10vw;
    height: 10vh;
    align-content: flex-start;
    /* background-image: url(../img/logo-QuizzSA.png); */
    background-size: 30%;
    background-repeat: no-repeat;
}
h1{
    margin-left: 30vw;
}
.main{
    height: 90vh;
    }
.form-contain{
    width: 39vw;
    height: 60vh;
    margin-left: 30vw;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}
.header-form{
    height: 12vh;
    color: white;
    background-color: rgb(81,191,208);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.croix{
    height: 15px;
    width: 15px;
    border: solid 1px;
    margin-right: 2vw;
    background-color: white;
    clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
      );
    }    

h2{
    margin-left: 1vw;
    font-size: 2rem;
}
form{
    height: 60vh;
    background-color: white;

}
.conn-login{
    width: 30vw;
    height: 8vh;
    background-color: rgb(240,240,240);
    font-size: 25px;
    border: none;
}  
/* .connect-params{
    display: block;
} */
.connect_sign-in{
    margin-top: 10vh;
    /* border: solid; */
    height: 10vh;
}
.login{
width: 35vw;
/* border: solid; */
margin-top: 5vh;
height: 10vh;
background-color: rgb(240,240,240);
}
.password{
    width: 35vw;
    /* border: solid; */
    height: 10vh;
    margin-top: 7vh;
    background-color: rgb(240,240,240);
}
img[alt="img"]{
    width: 100px;
    height: 100px;
}
img{
    height: 30px;
    width: 30px;
    margin-left: 2vw;
}
input[type="submit"]{
    margin-left: 2vw;
    height: 6vh;
    font-size: 20px;
    border: none;
}
input[id="connexion"]{
width: 8vw;
color: white;
background-color: rgb(81,191,208);
}
#inscription{
    background-color: white;
    color: gray;
    font-size: 1.3rem;
    margin-left: 8vw;
    text-decoration: none;
}
#inscription:hover{
    background-color: rgb(81,191,208);
    color: white;
}
p{
    font-size: 1.3rem;
    
}

.form-control.error{
    height: 10vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    
} 

.error-login{
    color: red;
    font-size: 1.6rem;
    text-align: start;
    margin-top: 1vh;
    margin-left: 3vw;
    font-style: italic;
    font-display: none;

}
.error-password{
    color: red;
    margin-left: 3vw;
    text-align: start;
    margin-top: 1vh;
    font-size: 1.6rem;
    font-style: italic;
    font-display: none;
}
#connexion{
    cursor: pointer;
}