body{
    width:99vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    cursor: pointer;
}
.header{
    height: 10vh;
    color: var(--globale-color);
    display: flex;
    justify-content: flex-start;
    background-color: rgb(5,36,38);
    text-align: center;
}
.logo{
    width: 10vw;
    height: 10vh;
    align-content: flex-start;
}
.slogan{
    margin-left: 30vw;
}
.main{
    height: 80vh;
    /* background:linear-gradient(rgba(5,36,38,0.4),rgba(5,36,38,0.4)),url("../img/img-bg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.ins-contain{
    border: solid whitesmoke;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 98%;
    border-radius: 20px;
    background-color: var(--white-color);
    display: flex;
}
.ins-text{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.ins-titles{
    flex: 1;
    text-align: start;
    margin-left: 5%;
}
.ins-title1{
    margin: auto;
    opacity: 0.7;
}
.ins-title2{
    opacity: .4;
}
.ins-settings{
    flex: 9;
}
.ins-form-controller{
    /* border: solid 1px; */
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lab-in{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}
label{
    height: 30%;
    color: rgb(85, 84, 84);
    font-size: 1.2rem;
    margin-left: 5%;
}
.sign-in-settings{
    height: 60%;
    width: 50%;
    margin-left: 5%;
    border-radius: 5px;
    border-color: grey;
}


input[id="avatar"]{
    margin-left: 20vw;
}
#creer-compte-ins{
    margin-left: 8vw;
    background-color: var(--globale-color);
    border-color: var(--globale-color);
    color: white;
    margin-top: 1.5vh;
    height: 4vh;
    border-radius: 8px;
    width: 8vw;
    font-size: 1rem;
}
.submit{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    
}
.create-account-ins{
    display: flex;
    align-items: center;
}
.error-ins{
    margin-left: 5%;
    width:50%;
    color: red;
    font-size: 18px;
    font-style: italic;
}
.valide{
    width: 50%;
    height: 50%;
    margin-left: 5%;
    border-radius: 5px;
    border-color: rgb(28, 241, 28);
}
.invalide{
    width: 50%;
    height: 50%;
    margin-left: 5%;
    border-radius: 5px;
    border-color: red;
}
img[alt="img"]{
    width: 100px;
    height: 100px;
}

.error{
    color: red;
    margin-left: 5%;
    font-size: 1.6rem;
    font-style: italic;
}
.ins-avatar{
    flex: 2;
    display: flex;
    align-items: flex-start;

}
.ins-avatar-profile{
 display: flex;   
 width:70%;
 height:50%;
 margin-top: 5vh; 
 border-radius: 50%;  
 border: 8px solid  var(--globale-color);
}

#avatar-ins{
    visibility: hidden;
}
#choose-file{
    border: solid 1px;
    background-color: var(--globale-color);
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
}
.choose-file{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
#avatar-ins2{
    cursor: pointer;
}
.back-to-connection{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: var(--globale-color);
    color: var(--white-color);
    width: fit-content;
    margin-top: 5vh;
}
.lab-avatar-ins{
    width: 70%;
    height: 50%;
    margin-top: 5vh;
    border-radius: 50%;
    border: solid;
    cursor: pointer;
}
.lab-avatar-ins div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
 #link-for-page{
     font-size: 1.5rem;
     text-decoration: none;
     cursor: pointer;
     
}